:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  text-align: center;
}
button{
  /* border: 2px solid red; */
  border-radius: 20px;
  margin: 2rem;
  height: 50px;
  width: 100px;
}
button:hover{
  transition: 0.5s;
  background: white;
  color: #242424;
  transform: translateY(-8px);
}
